<script setup>
import { VIcon } from '~/modules/components/commons/VIcon'
import { stars } from './data'

const props = defineProps({
    rating: {
        type: Number,
    },
    width: {
        type: Number,
        default: 20,
    },
    height: {
        type: Number,
        default: 20,
    },
})
</script>

<template>
    <div class="d-inline-block">
        <div class="d-flex">
            <VIcon
                v-for="(star, index) of stars[props.rating]"
                :key="index"
                :icon="star"
                :width="props.width"
                :height="props.height"
            />
        </div>
    </div>
</template>

<style lang="scss" scoped></style>
