<script>
export default {
    name: 'AdminDashboardStoreDriversSchoolsPage',
    layout: 'admin',
}
</script>

<script setup>
import { useRouter } from '@nuxtjs/composition-api'

import { VButton } from '~/modules/components/commons/VButton'
import { VInput } from '~/modules/components/commons/VInput'
import { useAxios } from '~/modules/hooks/commons/useAxios'

const $axios = useAxios()
const $router = useRouter()

const data = {
    driversLicenses: ['A', 'B', 'C', 'D', 'E'],
}

const handleSubmit = async ({ target: form }) => {
    try {
        const checkboxes = [
            'allow_disabled_people',
            'has_recycling',
            'has_simulator',
        ]
        const data = new FormData(form)

        checkboxes.forEach((checkbox) => {
            if (!data.has(checkbox)) {
                data.append(checkbox, 0)
            }
        })

        const { status } = await $axios.post('/drivers-schools', data, {
            headers: {
                Authorization: `Bearer ${window.sessionStorage.getItem(
                    'access_token'
                )}`,
                'Content-Type': 'multipart/form-data',
            },
        })

        if (status === 201) $router.push('/admin/dashboard/drivers-schools')
    } catch (error) {
        console.log('handleSubmit', error)
    }
}
</script>

<template>
    <div v-frag>
        <div class="container">
            <h1 class="text-center mb-4">Cadastrar Autoescola</h1>
            <div class="row justify-content-center">
                <div class="col-6">
                    <form method="POST" @submit.prevent="handleSubmit">
                        <fieldset>
                            <VInput
                                class="mb-4"
                                id="input-name"
                                name="name"
                                label="Nome"
                                placeholder="John Doe"
                            />
                            <VInput
                                class="mb-4"
                                id="input-telephone"
                                name="telephone"
                                label="Telefone"
                                placeholder="5511999999999"
                            />
                            <VInput
                                class="mb-4"
                                id="input-cellphone"
                                name="cellphone"
                                label="Celular"
                                placeholder="5511999999999"
                            />
                            <VInput
                                class="mb-4 custom-textarea"
                                type="textarea"
                                id="input-description"
                                name="description"
                                label="Descrição"
                                placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit..."
                            />
                            <VInput
                                class="mb-4"
                                type="file"
                                id="input-picture"
                                name="picture"
                                label="Imagem"
                            />
                            <VInput
                                class="mb-4"
                                id="input-street"
                                name="street"
                                label="Rua"
                            />
                            <VInput
                                class="mb-4"
                                id="input-number"
                                name="number"
                                label="Número"
                            />
                            <VInput
                                class="mb-4"
                                id="input-neighbourhood"
                                name="neighbourhood"
                                label="Bairro"
                            />
                            <VInput
                                class="mb-4"
                                id="input-city"
                                name="city"
                                label="Cidade"
                            />
                            <VInput
                                v-for="(
                                    driversLicense, index
                                ) of data.driversLicenses"
                                :key="index"
                                class="mb-4"
                                type="checkbox"
                                name="licenses[]"
                                :value="driversLicense"
                                :id="`input-drivers-license-${index}`"
                                :label="`CNH tipo ${driversLicense}`"
                            />
                            <VInput
                                class="mb-4"
                                id="input-approval-average"
                                name="approval_average"
                                label="Média de aprovação"
                            />
                            <VInput
                                class="mb-4"
                                type="checkbox"
                                name="allow_disabled_people"
                                id="input-allow-disabled-people"
                                label="Permite pessoas com deficiência"
                                value="0"
                                @change="
                                    $event.currentTarget.value = Number(
                                        !!$event.currentTarget.checked
                                    )
                                "
                            />
                            <VInput
                                class="mb-4"
                                type="checkbox"
                                name="has_recycling"
                                id="input-has-recycling"
                                label="Reciclagem"
                                value="0"
                                @change="
                                    $event.currentTarget.value = Number(
                                        !!$event.currentTarget.checked
                                    )
                                "
                            />
                            <VInput
                                class="mb-4"
                                type="checkbox"
                                name="has_simulator"
                                id="input-has-simulator"
                                label="Simulador"
                                value="0"
                                @change="
                                    $event.currentTarget.value = Number(
                                        !!$event.currentTarget.checked
                                    )
                                "
                            />
                            <VInput
                                class="mb-4"
                                id="input-average-price-rate"
                                name="average_price_rate"
                                label="Média de avaliação de preço"
                            />
                            <VInput
                                class="mb-4"
                                id="input-average-rate"
                                name="average_rate"
                                label="Média de avaliação"
                            />
                            <VButton type="submit" class="mb-4">
                                Cadastrar
                            </VButton>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.custom-textarea:deep(.form-control) {
    min-height: 6rem;
}
</style>
