<script>
export default {
    name: 'AdminDashboardPage',
    layout: 'admin',
}
</script>

<script setup>
import { ref, onBeforeMount } from 'vue'

import { useAxios } from '~/modules/hooks/commons/useAxios'

const $axios = useAxios()
const driversSchools = ref([])

const fetchDriversSchool = async () => {
    const { data } = await $axios.get('/drivers-schools')
    driversSchools.value = data
}

onBeforeMount(() => fetchDriversSchool())

const handleDeleteClick = async (event, id) => {
    try {
        event.preventDefault()
        const { status } = await $axios.delete(`/drivers-schools/${id}`, {
            headers: {
                Authorization: `Bearer ${window.sessionStorage.getItem(
                    'access_token'
                )}`,
            },
        })

        if (status === 200) fetchDriversSchool()
    } catch (error) {
        console.log('handleDeleteClick', error)
    }
}
</script>

<template>
    <div v-frag>
        <div class="container">
            <h1 class="text-center mb-4">Autoescolas</h1>
            <table class="table table-hover">
                <caption>
                    Lista de autoescolas
                </caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Celular</th>
                        <th scope="col">CNH</th>
                        <th scope="col">Imagem</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                    <tr v-for="driversSchool of driversSchools">
                        <th scope="row">
                            <NuxtLink
                                class="text-decoration-none"
                                :to="`/admin/dashboard/drivers-schools/show/${driversSchool.id}`"
                                ><p class="text-truncate mb-0 text-dark">
                                    {{ driversSchool.id }}
                                </p></NuxtLink
                            >
                        </th>
                        <td>
                            <p class="text-truncate mb-0">
                                {{ driversSchool.name }}
                            </p>
                        </td>
                        <td>
                            <p class="text-truncate mb-0">
                                {{ driversSchool.description }}
                            </p>
                        </td>
                        <td>{{ driversSchool.telephone }}</td>
                        <td>{{ driversSchool.cellphone }}</td>
                        <td>{{ driversSchool.licenses.join(', ') }}</td>
                        <td>
                            <NuxtLink
                                :to="`/admin/dashboard/drivers-schools/show/${driversSchool.id}`"
                            >
                                <img
                                    class="img-fluid"
                                    :src="driversSchool.picture"
                                    :alt="`${driversSchool.name} picture`"
                                />
                            </NuxtLink>
                        </td>
                        <td>
                            <NuxtLink
                                :to="`/admin/dashboard/drivers-schools/edit/${driversSchool.id}`"
                                >Editar</NuxtLink
                            >
                            <a
                                class="link-primary"
                                role="button"
                                @click="
                                    handleDeleteClick($event, driversSchool.id)
                                "
                                >Excluir</a
                            >
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<style lang="scss" scoped>
th:first-child,
td {
    max-width: 8rem;
}

.img-fluid {
    width: 8rem;
}
</style>
