<script setup>
import { VIcon } from '~/modules/components/commons/VIcon'
</script>

<template>
    <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top"
    >
        <div class="container">
            <div class="px-2 px-sm-0">
                <span class="text-muted">© 2023 Izy Drive</span>
            </div>
        </div>
    </footer>
</template>

<style lang="scss" scoped>
.social-media {
    column-gap: 1rem;
}
</style>
