<script setup>
import { computed } from 'vue'

const props = defineProps({
    id: {
        type: String,
        default: 'v-input',
    },
    name: {
        type: String,
        default: 'input',
    },
    value: {
        type: String,
        default: '',
    },
    placeholder: {
        type: String,
        default: '',
    },
    type: {
        type: String,
        default: 'text',
    },
    label: {
        type: String,
        default: 'VInput',
    },
    checked: {
        type: Boolean,
    },
    disabled: {
        type: Boolean,
    },
    readOnly: {
        type: Boolean,
    },
    isFloating: {
        type: Boolean,
    },
})

const isTextArea = computed(() => props.type === 'textarea')
const isFile = computed(() => props.type === 'file')
const classes = computed(() => {
    if (props.type === 'checkbox' || props.type === 'radio') {
        return {
            container: 'form-check',
            input: 'form-check-input',
            label: 'form-check-label',
        }
    }

    if (props.type === 'file') {
        return {
            container: '',
            input: 'form-control',
            label: 'form-label',
        }
    }

    return {
        container: props.isFloating ? 'form-floating' : '',
        input: 'form-control',
        label: props.isFloating ? '' : 'form-label',
    }
})
</script>

<template>
    <div :class="classes.container">
        <label
            v-if="isFile || !props.isFloating"
            :class="classes.label"
            :for="props.id"
            >{{ props.label }}</label
        >
        <input
            v-if="!isTextArea"
            :type="props.type"
            :class="classes.input"
            :id="props.id"
            :name="props.name"
            :value="props.value"
            :placeholder="props.placeholder"
            :readonly="props.readOnly"
            :disabled="props.disabled"
            :checked="props.checked"
            @change="$emit('change', $event)"
        />
        <textarea
            v-else
            :class="classes.input"
            :id="props.id"
            :name="props.name"
            :value="props.value"
            :placeholder="props.placeholder"
            :readonly="props.readOnly"
            :disabled="props.disabled"
        ></textarea>
        <label
            v-if="!isFile && props.isFloating"
            :class="classes.label"
            :for="props.id"
            >{{ props.label }}</label
        >
    </div>
</template>
