<script setup>
const props = defineProps({
    id: {
        type: String,
        default: 'VSelect',
    },
    name: {
        type: String,
    },
    disabled: {
        type: Boolean,
    },
    label: {
        type: Object,
        default() {
            return {
                name: 'VSelect',
                aria: 'VSelect',
            }
        },
    },
    options: {
        type: Array,
        default() {
            return []
        },
    },
})
</script>

<template>
    <div class="form-floating">
        <slot name="icon"></slot>
        <select
            class="form-select"
            :id="props.id"
            :name="props.name"
            :aria-label="label.aria"
            @change="$emit('onChange', $event)"
        >
            <option selected :disabled="props.disabled" value="">
                Selecione ...
            </option>
            <option
                v-for="option of options"
                :key="option.value"
                :value="option.value"
            >
                {{ option.label }}
            </option>
        </select>
        <label :for="props.id">{{ label.name }}</label>
    </div>
</template>
