<script setup>
import { reactive } from 'vue'
import { VImage } from '~/modules/components/commons/VImage'

const state = reactive({
    collapsed: false,
})
</script>

<template>
    <nav class="navbar navbar-expand-md sticky-top py-3 bg-white border-bottom">
        <div class="container">
            <div class="px-2 px-sm-0">
                <NuxtLink class="navbar-brand pt-0" to="/">
                    <span class="d-none">Navigate to homepage</span>
                    <VImage
                        src="/images/izydrive-dark.webp"
                        width="130"
                        height="30"
                        alt="IzyDrive logo"
                    />
                    <!-- Izy Drive -->
                </NuxtLink>
            </div>
        </div>
    </nav>
</template>
