<script setup>
import { ref, onBeforeMount } from 'vue'

import { useAxios } from '~/modules/hooks/commons/useAxios'
import { DriversSchoolCard } from '~/modules/components/drivers-school/DriversSchoolCard'

const $axios = useAxios()
const driversSchools = ref([])

onBeforeMount(async () => {
    const { data } = await $axios.get('/drivers-schools')
    driversSchools.value = data.map((driversSchool) => {
        return {
            ...driversSchool,
            image: driversSchool.picture,
            rating: 4.5,
        }
    })
})
</script>

<template>
    <ul class="list-unstyled">
        <li
            v-for="driversSchool of driversSchools"
            :key="driversSchool.id"
            class="mb-4"
        >
            <DriversSchoolCard :driversSchool="driversSchool" />
        </li>
    </ul>
</template>
