<script setup>
import { VImage } from '~/modules/components/commons/VImage'

const props = defineProps({
    variant: {
        type: String,
        default: 'md',
        validator(value) {
            return ['sm', 'md', 'lg'].includes(value)
        },
    },
})
</script>

<template>
    <VImage
        :class="`rounded-circle avatar-${props.variant}`"
        src="/images/woman-driving-a-car.jpg"
    />
</template>
