<script setup>
import { VIcon } from '~/modules/components/commons/VIcon'

const props = defineProps({
    driversSchool: {
        type: Object,
        default: null,
    },
})

const handleContactClick = (event) => {
    gtag('event', 'drivers_school_contact_intent', {
        drivers_school_id: props.driversSchool?.id,
    })
    window.location.replace(event.currentTarget.href)
}
</script>

<template>
    <a
        class="btn btn-primary btn-lg w-100 d-flex align-items-center justify-content-center"
        :href="props.driversSchool?.cellphone ? `https://wa.me/55${props.driversSchool?.cellphone}/?text=Ol%C3%A1%2C+encontrei+sua+autoescola+pela+plataforma+Izydrive%2C+pode+me+ajudar+com+informa%C3%A7%C3%B5es%3F` : `tel:+${props.driversSchool?.telephone}`"
        target="_blank"
        @click.prevent="(event) => handleContactClick(event)"
    >
        <VIcon v-if="props.driversSchool?.cellphone" icon="whatsapp-logo-white" width="20" height="20" class="me-2"></VIcon>Entre em contato
    </a>
</template>
