<script setup>
import { watch, computed, useRoute, onMounted } from '@nuxtjs/composition-api'

let bsOffcanvas = null
const $route = useRoute()
const path = computed(() => $route.value.path)

onMounted(() => {
    const Offcanvas = require('bootstrap/js/dist/offcanvas')
    bsOffcanvas = new Offcanvas('#offcanvas')
})

watch(
    () => path.value,
    () => bsOffcanvas.hide()
)

function logoutAndReload() {
    // Redirect to root path ("/")
    window.location.href = '/'

    // Reload the page
    window.location.reload()
}
</script>

<template>
    <nav class="mb-3">
        <div
            class="offcanvas offcanvas-start"
            data-bs-scroll="true"
            data-bs-backdrop="false"
            tabindex="-1"
            id="offcanvas"
            aria-labelledby="offcanvas-label"
        >
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvas-label">Izy Drive</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
                ></button>
            </div>
            <div class="offcanvas-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Autoescolas
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <NuxtLink
                                    class="link-primary"
                                    to="/admin/dashboard/drivers-schools"
                                >
                                    Listar
                                </NuxtLink>
                            </li>
                            <li class="list-group-item">
                                <NuxtLink
                                    class="link-primary"
                                    to="/admin/dashboard/drivers-schools/create"
                                >
                                    Cadastrar
                                </NuxtLink>
                            </li>
                            <li class="list-group-item">
                                <NuxtLink
                                    class="link-primary"
                                    to="/"
                                >
                                    <button onclick="logoutAndReload()">Sair do Admin</button>
                                </NuxtLink>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="navbar navbar-expand-lg sticky-top bg-light">
            <div class="container-fluid">
                <button
                    type="button"
                    aria-label="Toggle navigation"
                    class="navbar-toggler border-0 d-md-block"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvas"
                    aria-controls="offcanvas"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</template>
