$font-family: 'Inter', sans-serif;

$font-family-base: $font-family;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-weight-base: $font-weight-normal;

$font-size-base: 0.938rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;
