<script setup>
import { DriversSchoolCardRating } from '~/modules/components/drivers-school/DriversSchoolCardRating'

const data = {
    ratings: [
        {
            customer: {
                name: 'Lorem',
            },
            driversSchool: {
                name: 'Drivers School 1',
            },
            description:
                'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam ut veniam officiis! Dolorem, dicta exercitationem.',
        },
        {
            customer: {
                name: 'Picsum',
            },
            driversSchool: {
                name: 'Drivers School 2',
            },
            description:
                'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam ut veniam officiis! Dolorem, dicta exercitationem.',
        },
        {
            customer: {
                name: 'Dolor',
            },
            driversSchool: {
                name: 'Drivers School 3',
            },
            description:
                'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam ut veniam officiis! Dolorem, dicta exercitationem.',
        },
    ],
}
</script>

<template>
    <ul class="list-unstyled">
        <li
            v-for="rating of data.ratings"
            :key="rating.customer.name"
            class="mb-4"
        >
            <DriversSchoolCardRating :rating="rating" />
        </li>
    </ul>
</template>
