<script setup>
const props = defineProps({
    variant: {
        type: String,
        default: 'primary',
        validator(value) {
            return [
                'primary',
                'secondary',
                'secondary-outline',
                'primary-outline',
            ].includes(value)
        },
    },
})

const variants = {
    primary: 'btn-primary',
    secondary: 'btn-secondary',
    'secondary-outline': 'btn-outline-secondary',
    'primary-outline': 'btn-outline-primary',
}
</script>

<template>
    <button :class="`btn ${variants[props.variant]}`">
        <slot></slot>
    </button>
</template>
