<script setup>
import { TheAdminNavbar } from '../modules/components/commons/TheAdminNavbar'
import { TheFooter } from '../modules/components/commons/TheFooter'
</script>

<template>
    <div v-frag>
        <client-only>
            <TheAdminNavbar />
        </client-only>
        <main>
            <Nuxt />
        </main>
        <TheFooter />
    </div>
</template>
