<script setup>
import { TheNavbar } from '../modules/components/commons/TheNavbar'
import { TheFooter } from '../modules/components/commons/TheFooter'
</script>

<template>
    <div v-frag>
        <TheNavbar />
        <main>
            <Nuxt />
        </main>
        <TheFooter />
    </div>
</template>
