.form-floating-icon {
    pointer-events: none;
    left: 0.5rem;
    top: 0.5rem;

    & + .form-select {
        padding-left: 1.75rem;

        & + label {
            left: 1rem;
        }
    }
}
