<script setup>
const props = defineProps({
    variant: {
        type: String,
        default: 'secondary-outline',
        validator(value) {
            return ['secondary-outline'].includes(value)
        },
    },
})

const variants = {
    'secondary-outline': 'border border-secondary text-secondary',
}
</script>

<template>
    <div :class="`badge ${variants[props.variant]}`">
        <slot></slot>
    </div>
</template>
