<script setup>
const props = defineProps({
    icon: {
        type: String,
    },
})
</script>

<template>
    <component
        xmlns="http://www.w3.org/2000/svg"
        :class="`bi bi-${props.icon}`"
        :is="require(`~~/public/icons/${props.icon}.svg?inline`)"
    />
</template>
