<script setup>
import * as stc from 'string-to-color'
import { computed } from '@nuxtjs/composition-api'

import { VCard } from '~/modules/components/commons/VCard'
import { VIcon } from '~/modules/components/commons/VIcon'

const props = defineProps({
    driversSchool: {
        type: [Object],
        default() {
            return {}
        },
    },
})

const rating = computed(() => {
  const rawRating = props.driversSchool?.average_price_rate;
  return rawRating <= 9.9 ? Math.floor(rawRating) : Math.round(rawRating);
});
</script>

<template>
    <VCard>
        <NuxtLink
            class="text-decoration-none"
            :to="`/auto-escolas/${props.driversSchool?.slug}`"
        >
            <div
                class="drivers-school-card rounded-3 d-flex"
                style="
                    background-size: cover;
                    background-position: center center;
                "
                v-bind:style="[
                    props.driversSchool?.picture
                        ? {
                              backgroundImage: `url('${props.driversSchool.picture}')`,
                          }
                        : {
                              backgroundColor: stc(props.driversSchool?.name),
                          },
                ]"
            >
                <div
                    class="bg-dark bg-opacity-50 rounded-3 w-100 p-3 d-flex align-items-end"
                >
                    <h4 class="text-white mb-0">
                        {{ driversSchool?.name }}
                    </h4>
                </div>
            </div>
            <section class="card-body px-0 pb-0">
                <p class="card-title text-dark fw-semibold mb-0">
                    {{ props.driversSchool?.name }}
                </p>
                <p class="card-text text-truncate text-secondary mb-1">
                    {{ driversSchool?.drivers_schools_addresses?.street }},
                    {{
                        driversSchool?.drivers_schools_addresses?.neighbourhood
                    }},
                    {{ driversSchool?.drivers_schools_addresses?.city }}
                </p>
                <div
                    v-if="props.driversSchool?.average_rate"
                    class="d-flex align-items-center"
                >
                    <VIcon
                        icon="star-fill"
                        :width="12"
                        :height="12"
                        class="text-dark"
                    />
                    <small class="text-dark ms-2">{{
                        props.driversSchool?.average_rate
                    }}</small>
                    <span class="text-dark px-2">&#8226;</span>
                    <div class="d-flex align-items-center" v-if="rating">
                        <small class="text-dark" v-for="n in rating">$</small>
                        <small class="text-dark text-opacity-50" v-for="y in (5 - rating)">$</small>
                    </div>
                </div>
            </section>
        </NuxtLink>
    </VCard>
</template>

<style lang="scss" scoped>
.drivers-school-card {
    min-height: 10rem;

    @media only screen and (min-width: 768px) {
        min-height: 12rem;
    }
}
</style>
