<script>
export default {
    name: 'AdminDashboardShowDriversSchoolsPage',
    layout: 'admin',
}
</script>

<script setup>
import {
    ssrPromise,
    onBeforeMount,
    computed,
    ref,
    useRoute,
    useRouter,
} from '@nuxtjs/composition-api'

import { VImage } from '~/modules/components/commons/VImage'
import { VInput } from '~/modules/components/commons/VInput'
import { VButton } from '~/modules/components/commons/VButton'
import { useAxios } from '~/modules/hooks/commons/useAxios'

const $axios = useAxios()
const $route = useRoute()
const $router = useRouter()
const driversSchool = ref({})
const driversSchoolPicture = ref('')
const data = {
    driversLicenses: ['A', 'B', 'C', 'D', 'E'],
}
const id = computed(() => $route.value.params.id)
const driversLicenses = computed(() => {
    if (driversSchool.value?.licenses) {
        return data.driversLicenses.map((license) => {
            const isUniqueLicense =
                driversSchool.value.licenses.indexOf(license) === -1
            if (isUniqueLicense) {
                return {
                    value: license,
                    checked: false,
                }
            }

            return {
                value: license,
                checked: true,
            }
        })
    }

    return []
})

const fetchDriversSchool = ssrPromise(async () => {
    const { data } = await $axios.get(
        `/drivers-schools/${id.value}?relationships[]=drivers_schools_addresses`
    )
    return data
})

const handleSubmit = async ({ target: form }) => {
    try {
        const data = new FormData(form)
        const hasChangedPicture = data.get('picture').size

        if (!hasChangedPicture) data.set('picture', driversSchool.value.picture)

        const { status } = await $axios.put(
            `/drivers-schools/${id.value}`,
            data,
            {
                headers: {
                    Authorization: `Bearer ${window.sessionStorage.getItem(
                        'access_token'
                    )}`,
                    'Content-Type': 'multipart/form-data',
                },
            }
        )

        if (status === 200) $router.push('/admin/dashboard/drivers-schools')
    } catch (error) {
        console.log('handleSubmit', error)
    }
}

const handleInputFileChange = async ({ target: input }) => {
    const fileReader = new FileReader()
    fileReader.readAsDataURL(input.files[0])
    fileReader.onload = ({ target }) => {
        driversSchoolPicture.value = target.result
    }
}

onBeforeMount(async () => {
    driversSchool.value = await fetchDriversSchool
    if (driversSchool.value.picture)
        driversSchoolPicture.value = driversSchool.value.picture
})
</script>

<template>
    <div v-frag>
        <div class="container">
            <h1 class="text-center mb-4">Editar Autoescola</h1>
            <div class="row justify-content-center">
                <div class="col-6">
                    <form method="POST" @submit.prevent="handleSubmit">
                        <fieldset>
                            <VInput
                                class="mb-4"
                                id="input-name"
                                name="name"
                                label="Nome"
                                placeholder="John Doe"
                                :value="driversSchool.name"
                            />
                            <VInput
                                class="mb-4"
                                id="input-telephone"
                                name="telephone"
                                label="Telefone"
                                placeholder="5511999999999"
                                :value="driversSchool.telephone"
                            />
                            <VInput
                                class="mb-4"
                                id="input-cellphone"
                                name="cellphone"
                                label="Celular"
                                placeholder="5511999999999"
                                :value="driversSchool.cellphone"
                            />
                            <VInput
                                class="mb-4 custom-textarea"
                                type="textarea"
                                id="input-description"
                                name="description"
                                label="Descrição"
                                placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit..."
                                :value="driversSchool.description"
                            />
                            <VImage
                                class="img-fluid mb-4"
                                :src="driversSchoolPicture"
                            />
                            <VInput
                                class="mb-4"
                                type="file"
                                id="input-picture"
                                name="picture"
                                label="Imagem"
                                @change="handleInputFileChange"
                            />
                            <VInput
                                class="mb-4"
                                id="input-street"
                                name="street"
                                label="Rua"
                                :value="
                                    driversSchool.drivers_schools_addresses
                                        ?.street
                                "
                            />
                            <VInput
                                class="mb-4"
                                id="input-number"
                                name="number"
                                label="Número"
                                :value="
                                    String(
                                        driversSchool.drivers_schools_addresses
                                            ?.number
                                    )
                                "
                            />
                            <VInput
                                class="mb-4"
                                id="input-neighbourhood"
                                name="neighbourhood"
                                label="Bairro"
                                :value="
                                    driversSchool.drivers_schools_addresses
                                        ?.neighbourhood
                                "
                            />
                            <VInput
                                class="mb-4"
                                id="input-city"
                                name="city"
                                label="Cidade"
                                :value="
                                    driversSchool.drivers_schools_addresses
                                        ?.city
                                "
                            />
                            <label class="mb-2">CNHs</label>
                            <VInput
                                v-for="(
                                    driversLicense, index
                                ) of driversLicenses"
                                :key="index"
                                class="mb-4"
                                type="checkbox"
                                name="licenses[]"
                                :checked="driversLicense.checked"
                                :value="driversLicense.value"
                                :id="`input-drivers-license-${index}`"
                                :label="`CNH tipo ${driversLicense.value}`"
                            />
                            <VInput
                                class="mb-4"
                                id="input-approval-average"
                                name="approval_average"
                                label="Média de aprovação"
                                :value="String(driversSchool.approval_average)"
                            />
                            <VInput
                                class="mb-4"
                                type="checkbox"
                                name="allow_disabled_people"
                                :checked="
                                    Boolean(driversSchool.allow_disabled_people)
                                "
                                :value="
                                    String(driversSchool.allow_disabled_people)
                                "
                                id="input-allow-disabled-people"
                                label="Permite pessoas com deficiência"
                                @change="
                                    $event.currentTarget.value = Number(
                                        !!$event.currentTarget.checked
                                    )
                                "
                            />
                            <VInput
                                class="mb-4"
                                type="checkbox"
                                name="has_recycling"
                                :checked="Boolean(driversSchool.has_recycling)"
                                :value="String(driversSchool.has_recycling)"
                                id="input-has-recycling"
                                label="Reciclagem"
                                @change="
                                    $event.currentTarget.value = Number(
                                        !!$event.currentTarget.checked
                                    )
                                "
                            />
                            <VInput
                                class="mb-4"
                                type="checkbox"
                                name="has_simulator"
                                :checked="Boolean(driversSchool.has_simulator)"
                                :value="String(driversSchool.has_simulator)"
                                id="input-has-simulator"
                                label="Simulador"
                                @change="
                                    $event.currentTarget.value = Number(
                                        !!$event.currentTarget.checked
                                    )
                                "
                            />
                            <VInput
                                class="mb-4"
                                id="input-average-price-rate"
                                name="average_price_rate"
                                label="Média de avaliação de preço"
                                :value="
                                    String(driversSchool.average_price_rate)
                                "
                            />
                            <VInput
                                class="mb-4"
                                id="input-average-rate"
                                name="average_rate"
                                label="Média de avaliação"
                                :value="String(driversSchool.average_rate)"
                            />
                            <VButton type="submit" class="mb-4">
                                Salvar Edição
                            </VButton>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
