<script>
export default {
    name: 'AdminDashboardShowDriversSchoolsPage',
    layout: 'admin',
}
</script>

<script setup>
import {
    ssrPromise,
    onBeforeMount,
    computed,
    ref,
    useRoute,
} from '@nuxtjs/composition-api'

import { VImage } from '~/modules/components/commons/VImage'
import { VInput } from '~/modules/components/commons/VInput'
import { useAxios } from '~/modules/hooks/commons/useAxios'

const $axios = useAxios()
const $route = useRoute()
const id = computed(() => $route.value.params.id)
const driversSchool = ref({})

const fetchDriversSchool = ssrPromise(async () => {
    const { data } = await $axios.get(
        `/drivers-schools/${id.value}?relationships[]=drivers_schools_addresses`
    )
    return data
})

onBeforeMount(async () => {
    driversSchool.value = await fetchDriversSchool
})
</script>

<template>
    <div v-frag>
        <div class="container">
            <h1 class="text-center mb-4">Cadastrar Autoescola</h1>
            <div class="row justify-content-center">
                <div class="col-6">
                    <form method="POST">
                        <fieldset>
                            <VInput
                                class="mb-4"
                                id="input-name"
                                name="name"
                                label="Nome"
                                placeholder="John Doe"
                                readOnly
                                :value="driversSchool.name"
                            />
                            <VInput
                                class="mb-4"
                                id="input-telephone"
                                name="telephone"
                                label="Telefone"
                                placeholder="5511999999999"
                                readOnly
                                :value="driversSchool.telephone"
                            />
                            <VInput
                                class="mb-4"
                                id="input-cellphone"
                                name="cellphone"
                                label="Celular"
                                placeholder="5511999999999"
                                readOnly
                                :value="driversSchool.cellphone"
                            />
                            <VInput
                                class="mb-4 custom-textarea"
                                type="textarea"
                                id="input-description"
                                name="description"
                                label="Descrição"
                                placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit..."
                                readOnly
                                :value="driversSchool.description"
                            />
                            <VImage
                                class="img-fluid mb-4"
                                :src="driversSchool.picture"
                            />
                            <VInput
                                class="mb-4"
                                id="input-street"
                                name="street"
                                label="Rua"
                                readOnly
                                :value="
                                    driversSchool.drivers_schools_addresses
                                        ?.street
                                "
                            />
                            <VInput
                                class="mb-4"
                                id="input-number"
                                name="number"
                                label="Número"
                                readOnly
                                :value="
                                    String(
                                        driversSchool.drivers_schools_addresses
                                            ?.number
                                    )
                                "
                            />
                            <VInput
                                class="mb-4"
                                id="input-neighbourhood"
                                name="neighbourhood"
                                label="Bairro"
                                readOnly
                                :value="
                                    driversSchool.drivers_schools_addresses
                                        ?.neighbourhood
                                "
                            />
                            <VInput
                                class="mb-4"
                                id="input-city"
                                name="city"
                                label="Cidade"
                                readOnly
                                :value="
                                    driversSchool.drivers_schools_addresses
                                        ?.city
                                "
                            />
                            <label class="mb-2">CNHs</label>
                            <VInput
                                v-for="(
                                    driversLicense, index
                                ) of driversSchool.licenses"
                                :key="index"
                                class="mb-4"
                                type="checkbox"
                                name="licenses[]"
                                checked
                                disabled
                                :value="driversLicense"
                                :id="`input-drivers-license-${index}`"
                                :label="`CNH tipo ${driversLicense}`"
                            />
                            <VInput
                                class="mb-4"
                                id="input-approval-average"
                                name="approval_average"
                                label="Média de aprovação"
                                readOnly
                                :value="String(driversSchool.approval_average)"
                            />
                            <VInput
                                class="mb-4"
                                type="checkbox"
                                name="allow_disabled_people"
                                :checked="
                                    Boolean(driversSchool.allow_disabled_people)
                                "
                                disabled
                                :value="
                                    String(driversSchool.allow_disabled_people)
                                "
                                id="input-allow-disabled-people"
                                label="Permite pessoas com deficiência"
                            />
                            <VInput
                                class="mb-4"
                                type="checkbox"
                                name="has_recycling"
                                :checked="Boolean(driversSchool.has_recycling)"
                                disabled
                                :value="String(driversSchool.has_recycling)"
                                id="input-has-recycling"
                                label="Reciclagem"
                            />
                            <VInput
                                class="mb-4"
                                type="checkbox"
                                name="has_simulator"
                                :checked="Boolean(driversSchool.has_simulator)"
                                disabled
                                :value="String(driversSchool.has_simulator)"
                                id="input-has-simulator"
                                label="Simulador"
                            />
                            <VInput
                                class="mb-4"
                                id="input-average-price-rate"
                                name="average_price_rate"
                                label="Média de avaliação de preço"
                                readOnly
                                :value="
                                    String(driversSchool.average_price_rate)
                                "
                            />
                            <VInput
                                class="mb-4"
                                id="input-average-rate"
                                name="average_rate"
                                label="Média de avaliação"
                                readOnly
                                :value="String(driversSchool.average_rate)"
                            />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
