<script>
export default {
    name: 'LoginPage',
}
</script>

<script setup>
import { useRouter, useContext } from '@nuxtjs/composition-api'
import jwt_decode from 'jwt-decode'

import { VInput } from '~/modules/components/commons/VInput'
import { VButton } from '~/modules/components/commons/VButton'
import { useAxios } from '~/modules/hooks/commons/useAxios'

const router = useRouter()
const $axios = useAxios()
const { store } = useContext()

const handleSubmit = async ({ target: form }) => {
    const data = new FormData(form)

    try {
        const {
            data: { access_token },
        } = await $axios.post('/login', {
            email: data.get('email'),
            password: data.get('password'),
        })

        if (access_token) {
            const user = jwt_decode(access_token)

            if (user) {
                const { id, email, role } = user
                window.sessionStorage.setItem('access_token', access_token)

                store.commit('user/setUser', { id, email, role })
                router.push('/admin/dashboard')
            }
        }
    } catch (error) {
        console.log('LoginPage', error)
    }
}
</script>

<template>
    <div v-frag>
        <div class="container">
            <h1 class="text-center mb-4">Login</h1>
            <div class="row justify-content-center">
                <div class="col-6">
                    <form method="POST" @submit.prevent="handleSubmit">
                        <fieldset>
                            <VInput
                                class="mb-4"
                                id="input-email"
                                name="email"
                                type="email"
                                label="Email"
                                placeholder="johndoe@email.com"
                            />
                            <VInput
                                class="mb-4"
                                id="input-password"
                                name="password"
                                type="password"
                                label="Senha"
                            />
                            <VButton type="submit"> Login </VButton>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
