<script setup>
import { VIcon } from '~/modules/components/commons/VIcon'

const props = defineProps({
    icon: {
        type: String,
    },
})
</script>

<template>
    <VIcon
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
        class="form-floating-icon position-absolute"
        :icon="props.icon"
    />
</template>
