<script setup>
import { reactive, onBeforeMount, useRouter } from '@nuxtjs/composition-api'

import { VButton } from '~/modules/components/commons/VButton'
import { VSelect } from '~/modules/components/commons/VSelect'

import { useAxios } from '~/modules/hooks/commons/useAxios'

const $router = useRouter()
const $axios = useAxios()
const state = reactive({
    cities: [],
    neighbourhoods: [],
    driversLicenses: ['A', 'B', 'C', 'D', 'E'],
})

const props = {
    inputs: {
        driversLicenses: {
            icon: 'card-text',
            label: {
                name: 'Tipo de habilitação',
                aria: 'Campo para seleção de tipo de CNH',
            },
            name: 'cnh',
        },
        cities: {
            icon: 'geo-alt',
            label: {
                name: 'Sua cidade',
                aria: 'Campo para seleção de cidade',
            },
            name: 'cidade',
        },
    },
}

const getOptions = (input) => {
    const options = []

    for (const value of state[input]) {
        options.push({
            value,
            label: value,
        })
    }

    return options
}

const handleSubmit = (event) => {
    event.preventDefault()
    const form = new FormData(event.target)
    const params = []
    const analyticsParams = {}
    let url = '/auto-escolas'

    for (const input in props.inputs) {
        const field = props.inputs[input].name

        if (!form.get(field)) form.delete(field)
    }

    for (const pair of form.entries()) params.push(pair)

    params.forEach(([param, value]) => {
        analyticsParams[param] = value
    })

    const queryStrings = new URLSearchParams(params)

    if (!!queryStrings.has('cnh')) {
        url = `/carteiras-de-habilitacao/categoria-${queryStrings
            .get('cnh')
            .toLowerCase()}`
        queryStrings.delete('cnh')
    }

    url += `?${queryStrings.toString()}`

    gtag('event', 'search', {
        search_term: JSON.stringify(analyticsParams),
    })
    $router.push(url)
}

onBeforeMount(async () => {
    const { data } = await $axios.get(
        '/drivers-schools/addresses/cities?order[]=city,ASC&limit=700'
    )
    data.forEach((address) => {
        if (!state.cities.includes(address.city))
            state.cities.push(address.city)
    })
})
</script>

<template>
    <form action="/auto-escolas" @submit.prevent="handleSubmit">
        <fieldset>
            <div class="row">
                <div class="col" v-for="(input, key) in props.inputs">
                    <VSelect
                        class="mb-3"
                        :key="key"
                        :id="`form-select-${key}`"
                        :label="input.label"
                        :options="getOptions(key)"
                        :name="input.name"
                    />
                </div>
            </div>
            <VButton class="btn-lg w-100" type="submit"> Saber mais </VButton>
        </fieldset>
    </form>
</template>
